/* Establece una imagen como fondo y ajusta el tamaño y la posición */
body {
    background-image: url('img/fondo1.jpg');
    background-size: cover;
    background-position: center;
    /* Añade un efecto de transparencia a la imagen */
    background-blend-mode: screen;
    opacity: 0.8;

  }
  
  /* Establece un color de fondo claro para el formulario */
  form {
    background-color: #f8f8f8;
    /* Añade un borde y una sombra al formulario */
    border: 1px solid #ddd;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    /* Ajusta el ancho y el margen del formulario */
    width: 500px;
    margin: 20px auto;
    /* Añade un padding para separar el contenido del formulario de los bordes */
    padding: 20px;
  }
  
  /* Ajusta el tamaño y la fuente del título */
  h1 {
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    text-align: center;
  }
  
  /* Ajusta el tamaño y la fuente de los campos del formulario */
  label, input {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    display: inline;
    width: 100%;
    margin: 8px 0;
  }

  /* label, input {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    display: inline;
    float:left;
    margin: 8px 0;
  } */

  
  
  /* Ajusta el color y el tamaño de la fuente de los botones */
  button {
    color: white;
    font-size: 16px;
    font-family: Verdana, sans-serif;
  }
  
  /* Establece un color de fondo y un borde redondeado para los botones */
  button {
    background-color: #4caf50;
    border-radius: 4px;
  }
  
  
    
  #prediction-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    text-align: center;
  }
  
  #prediction-header {
    font-size: 2em;
    font-weight: bold;
  }
  
  #prediction-value {
    font-size: 3em;
    font-weight: bold;
    color: #00b8d4;
  }

  /* .radio-button {
    display: flex;
    align-items: center;
  } */
  
  /* .radio-button input[type="radio"] {
    display: none;
  } */
/*   
  .radio-button label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 16px;
  } */
  
  .radio-button label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease;
  }
  
  /* .radio-button input[type="radio"]:checked + label:before {
    width: 8px;
    height: 8px;
    border-width: 4px;
    border-radius: 0;
    background-color: #6c7ae0;
  } */
  
  /* You can add additional styles for different states of the radio button here (e.g. hover, active, etc.) */
  