  body {
    background-image: url('img/piso1.jpg');
    background-size: cover; /* Ajusta la imagen al tamaño del viewport */
    background-position: center; /* Centra la imagen */
  }

/* Establece el ancho y el alineamiento del formulario */
  form {
    width: 600px;
    margin: 0 auto;
  }
  
  /* Ajusta el tamaño y el estilo de la fuente del formulario */
  form label, form input {
    font-size: 18px;
    font-family: "Verdana", sans-serif;
  }
  
  /* Ajusta el tamaño y el estilo de la fuente de los títulos */
  form h1, form h2 {
    font-size: 24px;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  /* Añade un poco de margen alrededor de los inputs */
  form input[type="text"], form input[type="checkbox"] {
    margin: 10px;
  }
  
  /* Ajusta el tamaño del botón de enviar */
  form input[type="submit"] {
    font-size: 20px;
    padding: 10px 20px;
  }
  
  /* Añade una sombra y un borde redondeado a los inputs */
  form input[type="text"], form input[type="checkbox"] {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  
  /* Añade un borde y un fondo al botón de enviar */
  form input[type="submit"] {
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  
  /* Añade un hover effect al botón de enviar */
  form input[type="submit"]:hover {
    background-color: #555;
  }
  